Python notes 1

In [1]:
a = 9
b = 3
print(a + b)

12

In [2]:
a = 7
print("Value is " + str(a))

Value is 7

In [3]:
# Strings can use single, double, or triple quotes
s1 = 'Python'
s2 = "Programming"
s3 = """This is
a multi-line
string"""
print(s1, s2)
print(s3)

Python Programming
This is
a multi-line
string

In [5]:
flag1 = True
flag2 = False
print(flag1 and flag2)  
print(flag1 or flag2)   
print(not flag2)

False
True
True

In [4]:
flag1 = True
flag2 = False
print(flag1 and flag2)  # False
print(flag1 or flag2)   # True
print(not flag2)

False
True
True

In [6]:
z = 2 + 3j
print("Real part:", z.real)
print("Imaginary part:", z.imag)

Real part: 2.0
Imaginary part: 3.0

In [7]:
value = 100
print(type(value))

value = "One Hundred"
print(type(value))

num = 25
print("Number as string: " + str(num))

<class 'int'>
<class 'str'>
Number as string: 25

In [8]:
a = 7
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

10
4
21
2.3333333333333335
1
343
2

In [9]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)

False
True
True
False

In [10]:
x = 10
x += 5
x *= 2
print(x)

30

In [11]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name}, you are {age} years old.")

Enter your name: jk
Enter your age: 87
Hello jk, you are 87 years old.

In [12]:
s1 = 'Python'
s2 = "Programming"
s3 = """This is
a multi-line
string"""
print(s1)
print(s2)
print(s3)

Python
Programming
This is
a multi-line
string

In [14]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I like {fruit}")

I like apple
I like banana
I like cherry

In [15]:
for i in range(len(fruits)):
    print(f"Fruit {i+1}: {fruits[i]}")

Fruit 1: apple
Fruit 2: banana
Fruit 3: cherry

In [16]:
count = 5
while count > 0:
    print("Counting down:", count)
    count -= 1

Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1

In [17]:
for i in range(10):
    if i == 4:
        break
    print(i)

for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
2
3
0
1
3
4

In [18]:
numbers = [5, 2, 9, 1, 7]

total = 0
for num in numbers:
    total += num
print(total)

rev = []
for num in numbers:
    rev = [num] + rev
print(rev)

24
[7, 1, 9, 2, 5]

In [19]:
correct_name = "Alice"

while True:
    user_input = input("Enter your name: ")
    if user_input == correct_name:
        print("Welcome, Alice!")
        break
    else:
        print("Name incorrect. Try again.")

Enter your name: alice
Name incorrect. Try again.
Enter your name: Alice
Welcome, Alice!